<header class="header">
  <div class="container">
    <div class="logo">
      <a class="logo__link" href="{{ "" | relLangURL }}" title="{{ .Site.Title }}" rel="home">
	<div class="logo__title">{{ .Site.Title }}</div>
	{{ with .Site.Params.subtitle }}<div class="logo__tagline">{{ . }}</div>{{ end }}
      </a>
    </div>
    {{ partial "menu.html" . }}
  </div>
</header>
<head>
  {{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="https://rustinblockchain.matomo.cloud/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.src='//cdn.matomo.cloud/rustinblockchain.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->

</head>
